<html>
    <body>
        <div>
            <form #f="ngForm">
                ID: {{user._id}}
                <br>
                Name: <input type="text" name="Name" [(ngModel)]="user.Name">
                <br>
                Email: <input type="text" name="Email" [(ngModel)]="user.Email">
                <br>
                <input type="button" value="Other Data">
                <br>
                <input type="button" value="Update">
            </form>
            <input type="button" value="Delete">
        </div>
    </body>
</html>